In [1]:
#Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. 
#However, often we want to group our data, and then do something specific to the group the data is in.

In [2]:
import pandas as pd

In [3]:
melbourne_file_path = 'Introduction_Machine_Learning_Data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns
reviews = melbourne_data

In [4]:
reviews

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [6]:
reviews.groupby('Rooms').Rooms.count()

Rooms
1      681
2     3648
3     5881
4     2688
5      596
6       67
7       10
8        8
10       1
Name: Rooms, dtype: int64

In [11]:
reviews.groupby('Rooms').Price.min()

Rooms
1       85000.0
2      190000.0
3      283000.0
4      131000.0
5      355000.0
6      506000.0
7     1005000.0
8      741000.0
10     900000.0
Name: Price, dtype: float64

In [31]:
#one way of selecting the name of the first Address reviewed from each Suburb in the dataset:
reviews.groupby('Suburb').apply(lambda df: df.Address.iloc[0])

Suburb
Abbotsford           85 Turner St
Aberfeldie      2/2 St Kinnord St
Airport West        154 Halsey Rd
Albanvale           28 Oakwood Rd
Albert Park        105 Kerferd Rd
                      ...
Wonga Park       2 Rindlebrook Pl
Wyndham Vale          5 Dakara Ct
Yallambie          11 Tarcoola Dr
Yarra Glen            15 Yarra St
Yarraville           13 Benbow St
Length: 314, dtype: object

In [26]:
Address_final = reviews.groupby(['Suburb', 'Address']).apply(lambda df: df.loc[df.Rooms.idxmax()])
Address_final

                                   Suburb             Address  Rooms Type  \
Suburb     Address
Abbotsford 1/43 Abbotsford St  Abbotsford  1/43 Abbotsford St      2    u
           1/50 Valiant St     Abbotsford     1/50 Valiant St      4    t
           10 James St         Abbotsford         10 James St      2    h
           10 Valiant St       Abbotsford       10 Valiant St      2    h
           101 Charles St      Abbotsford      101 Charles St      2    h
...                                   ...                 ...    ...  ...
Yarraville 9/11 Berry St       Yarraville       9/11 Berry St      3    h
           9/51 Stephen St     Yarraville     9/51 Stephen St      2    u
           92 Simpson St       Yarraville       92 Simpson St      2    h
           96 Hamilton St      Yarraville      96 Hamilton St      2    h
           96 Pentland Pde     Yarraville     96 Pentland Pde      3    h

                                   Price Method        SellerG        Date  \
Suburb     Address
Abbotsford 1/43 Abbotsford St   505000.0     PI         Nelson  27/05/2017
           1/50 Valiant St     1525000.0      S         Jellis  12/08/2017
           10 James St          940000.0      S         Biggin  12/08/2017
           10 Valiant St       1097000.0      S         Biggin   8/10/2016
           101 Charles St       911000.0      S   Purplebricks  22/07/2017
...                                  ...    ...            ...         ...
Yarraville 9/11 Berry St        955000.0      S        Village  24/09/2016
           9/51 Stephen St      381000.0     PI            Jas  11/02/2017
           92 Simpson St        950000.0     SP        Village   6/05/2017
           96 Hamilton St       820000.0     PI        Village  20/05/2017
           96 Pentland Pde     1100000.0     VB  hockingstuart   9/09/2017

                               Distance  Postcode  ...  Bathroom  Car  \
Suburb     Address                                 ...
Abbotsford 1/43 Abbotsford St       3.0    3067.0  ...       1.0  1.0
           1/50 Valiant St          3.0    3067.0  ...       2.0  2.0
           10 James St              3.0    3067.0  ...       1.0  0.0
           10 Valiant St            2.5    3067.0  ...       1.0  2.0
           101 Charles St           3.0    3067.0  ...       1.0  0.0
...                                 ...       ...  ...       ...  ...
Yarraville 9/11 Berry St            7.0    3013.0  ...       2.0  2.0
           9/51 Stephen St          7.0    3013.0  ...       1.0  1.0
           92 Simpson St            7.0    3013.0  ...       1.0  0.0
           96 Hamilton St           7.0    3013.0  ...       1.0  0.0
           96 Pentland Pde          6.3    3013.0  ...       1.0  0.0

                               Landsize  BuildingArea  YearBuilt  CouncilArea  \
Suburb     Address
Abbotsford 1/43 Abbotsford St       0.0          38.0     1970.0        Yarra
           1/50 Valiant St        102.0           NaN        NaN        Yarra
           10 James St            424.0           NaN        NaN        Yarra
           10 Valiant St          220.0          75.0     1900.0        Yarra
           101 Charles St         141.0           NaN        NaN        Yarra
...                                 ...           ...        ...          ...
Yarraville 9/11 Berry St          206.0         173.0     2006.0  Maribyrnong
           9/51 Stephen St          0.0          65.0     1960.0  Maribyrnong
           92 Simpson St           94.0           NaN        NaN  Maribyrnong
           96 Hamilton St         211.0           NaN        NaN  Maribyrnong
           96 Pentland Pde        221.0         137.0     1948.0          NaN

                              Lattitude  Longtitude             Regionname  \
Suburb     Address
Abbotsford 1/43 Abbotsford St -37.80206   145.00015  Northern Metropolitan
           1/50 Valiant St    -37.80116   145.00066  Northern Metropolitan
           10 James St        -37.80911   144.99339  Northern Metropolitan
           10 Valiant St      -37.80100   144.99890  Northern Metropolitan
           101 Charles St     -37.80586   144.99499  Northern Metropolitan
...                                 ...         ...                    ...
Yarraville 9/11 Berry St      -37.81270   144.89650   Western Metropolitan
           9/51 Stephen St    -37.81280   144.89530   Western Metropolitan
           92 Simpson St      -37.81670   144.88800   Western Metropolitan
           96 Hamilton St     -37.81200   144.88650   Western Metropolitan
           96 Pentland Pde    -37.81284   144.89159   Western Metropolitan

                              Propertycount
Suburb     Address
Abbotsford 1/43 Abbotsford St        4019.0
           1/50 Valiant St           4019.0
           10 James St               4019.0
           10 Valiant St             4019.0
           101 Charles St            4019.0
...                                     ...
Yarraville 9/11 Berry St             6543.0
           9/51 Stephen St           6543.0
           92 Simpson St             6543.0
           96 Hamilton St            6543.0
           96 Pentland Pde           6543.0

[13466 rows x 21 columns]

In [27]:
mi = Address_final.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [19]:
#agg() lets you run a bunch of different functions on your DataFrame simultaneously.
reviews.groupby(['Suburb']).Price.agg([len, min, max])

                len       min        max
Suburb
Abbotsford     56.0  300000.0  1876000.0
Aberfeldie     44.0  280000.0  3900000.0
Airport West   67.0  440000.0  1250000.0
Albanvale       6.0  415000.0   655000.0
Albert Park    69.0  442500.0  4735000.0
...             ...       ...        ...
Wonga Park      1.0  900000.0   900000.0
Wyndham Vale    4.0  475000.0   500000.0
Yallambie      24.0  602500.0  1670000.0
Yarra Glen      1.0  620000.0   620000.0
Yarraville    164.0  330000.0  2450000.0

[314 rows x 3 columns]

In [47]:
trail_1 = reviews[['Suburb', 'Address']].groupby('Suburb').Address.min()

In [48]:
trail_1

Suburb
Abbotsford      1/43 Abbotsford St
Aberfeldie               1 Alma St
Airport West      1/37 Hillside Gr
Albanvale             10 Elinga Ct
Albert Park           1 Moubray St
                       ...
Wonga Park        2 Rindlebrook Pl
Wyndham Vale        11 Chisholm Pl
Yallambie           11 Tarcoola Dr
Yarra Glen             15 Yarra St
Yarraville           1 Highgate St
Name: Address, Length: 314, dtype: object

In [49]:
trail_2 = reviews[['Suburb', 'Address']].groupby('Suburb')['Address'].min()

In [50]:
trail_2

Suburb
Abbotsford      1/43 Abbotsford St
Aberfeldie               1 Alma St
Airport West      1/37 Hillside Gr
Albanvale             10 Elinga Ct
Albert Park           1 Moubray St
                       ...
Wonga Park        2 Rindlebrook Pl
Wyndham Vale        11 Chisholm Pl
Yallambie           11 Tarcoola Dr
Yarra Glen             15 Yarra St
Yarraville           1 Highgate St
Name: Address, Length: 314, dtype: object

In [64]:
trail_3 = reviews[['Suburb', 'Address']].groupby('Suburb')['Address'].shift()

In [65]:
trail_3

0                     NaN
1            85 Turner St
2         25 Bloomburg St
3            5 Charles St
4        40 Federation La
               ...
13575    2 Wattleglade Ct
13576     146 Ferguson St
13577       77 Merrett Dr
13578         83 Power St
13579       18 Stewart St
Name: Address, Length: 13580, dtype: object

In [67]:
suburb_population = reviews.groupby(['Suburb']).Price.agg([len])

In [68]:
suburb_population

                len
Suburb
Abbotsford     56.0
Aberfeldie     44.0
Airport West   67.0
Albanvale       6.0
Albert Park    69.0
...             ...
Wonga Park      1.0
Wyndham Vale    4.0
Yallambie      24.0
Yarra Glen      1.0
Yarraville    164.0

[314 rows x 1 columns]

In [69]:
#the multi-index method you will use most often is the one for converting back to a regular index, the reset_index() method:
suburb_population = suburb_population.reset_index()

           Suburb    len
0      Abbotsford   56.0
1      Aberfeldie   44.0
2    Airport West   67.0
3       Albanvale    6.0
4     Albert Park   69.0
..            ...    ...
309    Wonga Park    1.0
310  Wyndham Vale    4.0
311     Yallambie   24.0
312    Yarra Glen    1.0
313    Yarraville  164.0

[314 rows x 2 columns]

In [70]:
suburb_population.sort_values(by='len')

                  len
Suburb
Montrose          1.0
Wallan            1.0
Healesville       1.0
Brookfield        1.0
Sandhurst         1.0
...               ...
Brunswick       222.0
Preston         239.0
Bentleigh East  249.0
Richmond        260.0
Reservoir       359.0

[314 rows x 1 columns]

In [71]:
suburb_population.sort_values(by='len', ascending=False)

                      len
Suburb
Reservoir           359.0
Richmond            260.0
Bentleigh East      249.0
Preston             239.0
Brunswick           222.0
...                   ...
Attwood               1.0
Beaconsfield Upper    1.0
Bacchus Marsh         1.0
Sandhurst             1.0
Officer               1.0

[314 rows x 1 columns]

In [73]:
#Finally, know that you can sort by more than one column at a time:
suburb_population.sort_values(by=['Suburb','len'])

                len
Suburb
Abbotsford     56.0
Aberfeldie     44.0
Airport West   67.0
Albanvale       6.0
Albert Park    69.0
...             ...
Wonga Park      1.0
Wyndham Vale    4.0
Yallambie      24.0
Yarra Glen      1.0
Yarraville    164.0

[314 rows x 1 columns]

In [81]:
#which suburb has the cheapest house
reviews.groupby('Suburb').Price.min().sort_values()

Suburb
Footscray         85000.0
Caulfield        131000.0
Coburg           145000.0
Albion           145000.0
Hawthorn         160000.0
                  ...
Silvan          1070000.0
Waterways       1232000.0
Kooyong         1290000.0
New Gisborne    1355000.0
Princes Hill    1540000.0
Name: Price, Length: 314, dtype: float64

In [82]:
reviews.groupby('Suburb').Price.min().sort_index()

Suburb
Abbotsford      300000.0
Aberfeldie      280000.0
Airport West    440000.0
Albanvale       415000.0
Albert Park     442500.0
                  ...
Wonga Park      900000.0
Wyndham Vale    475000.0
Yallambie       602500.0
Yarra Glen      620000.0
Yarraville      330000.0
Name: Price, Length: 314, dtype: float64

In [87]:
sorted_suburb = reviews.groupby('Suburb').Price.agg([min,max]).sort_values(by=['min','max'], ascending=False)

In [88]:
sorted_suburb

                    min        max
Suburb
Princes Hill  1540000.0  1908000.0
New Gisborne  1355000.0  1355000.0
Kooyong       1290000.0  3080000.0
Waterways     1232000.0  1265000.0
Silvan        1070000.0  1085000.0
...                 ...        ...
Hawthorn       160000.0  7650000.0
Coburg         145000.0  2250000.0
Albion         145000.0   905000.0
Caulfield      131000.0  1665000.0
Footscray       85000.0  1450000.0

[314 rows x 2 columns]

In [89]:
reviews.groupby(['Suburb']).Suburb.count()

Suburb
Abbotsford       56
Aberfeldie       44
Airport West     67
Albanvale         6
Albert Park      69
               ...
Wonga Park        1
Wyndham Vale      4
Yallambie        24
Yarra Glen        1
Yarraville      164
Name: Suburb, Length: 314, dtype: int64

In [90]:
reviews.groupby(['Suburb']).size()

Suburb
Abbotsford       56
Aberfeldie       44
Airport West     67
Albanvale         6
Albert Park      69
               ...
Wonga Park        1
Wyndham Vale      4
Yallambie        24
Yarra Glen        1
Yarraville      164
Length: 314, dtype: int64

In [91]:
reviews.Price.dtype

dtype('float64')

In [92]:
#It's possible to convert a column of one type into another wherever a conversion makes sense by using the astype() function
reviews.Price.astype('int64')

0        1480000
1        1035000
2        1465000
3         850000
4        1600000
          ...
13575    1245000
13576    1031000
13577    1170000
13578    2500000
13579    1285000
Name: Price, Length: 13580, dtype: int64

In [93]:
reviews.Price.dtype

dtype('float64')

In [94]:
#A DataFrame or Series index has its own dtype
reviews.index.dtype

dtype('int64')

In [97]:
#Entries missing values are given the value NaN, short for "Not a Number". 
#For technical reasons these NaN values are always of the float64 dtype

#Pandas provides some methods specific to missing data. 
#To select NaN entries you can use pd.isnull() (or its companion pd.notnull()).

reviews[pd.isnull(reviews.BuildingArea)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0

In [102]:
(reviews.BuildingArea).isnull().sum()

6450

In [104]:
pd.isnull(reviews.BuildingArea).sum()

6450

In [98]:
#Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). 
reviews.YearBuilt.fillna("Unknown")

0        Unknown
1           1900
2           1900
3        Unknown
4           2014
          ...
13575       1981
13576       1995
13577       1997
13578       1920
13579       1920
Name: YearBuilt, Length: 13580, dtype: object

In [111]:
reviews

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [99]:
reviews.Suburb.replace("Abbotsford", "@Abbotsford")

0          @Abbotsford
1          @Abbotsford
2          @Abbotsford
3          @Abbotsford
4          @Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [105]:
reviews.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [110]:
reviews.YearBuilt.fillna("Unknown").size().sort_values(ascending=False)

TypeError: 'int' object is not callable

In [108]:
reviews.YearBuilt.fillna("Unknown").value_counts().sort_values(ascending=False)

Unknown    5375
1970.0      866
1960.0      725
1950.0      580
1900.0      341
           ...
1877.0        1
1854.0        1
1862.0        1
1856.0        1
1196.0        1
Name: YearBuilt, Length: 145, dtype: int64

In [113]:
reviews.rename(columns={'Price': 'Cost'})

,Suburb,Address,Rooms,Type,Cost,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [114]:
reviews

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [115]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
firstEntry,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
secondEntry,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [116]:
reviews.rename_axis("index", axis='rows').rename_axis("fields", axis='columns')

fields,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [118]:
#To combine different DataFrames and/or Series in non-trivial ways. 
#Pandas has three core methods for doing this. In order of increasing complexity, these are concat(), join(), and merge(). 
#Most of what merge() can do can also be done more simply with join(), 
#so we will omit it and focus on the first two functions here.

#The simplest method is concat(). Given a list of elements, this function will smush those elements together along an axis.
#This is useful when we have data in different DataFrame or Series objects but having the same fields (columns).

train_data = pd.read_csv("Intermediate_Machine_Learning_Train_Data.csv")
test_data = pd.read_csv("Intermediate_Machine_Learning_Test_Data.csv")

pd.concat([train_data, test_data])

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [119]:
pd.concat([train_data, test_data], ignore_index=True)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [124]:
train_data.join(test_data, lsuffix='_train', rsuffix='_test')

,Id_train,MSSubClass_train,MSZoning_train,LotFrontage_train,LotArea_train,Street_train,Alley_train,LotShape_train,LandContour_train,Utilities_train,...,ScreenPorch_test,PoolArea_test,PoolQC_test,Fence_test,MiscFeature_test,MiscVal_test,MoSold_test,YrSold_test,SaleType_test,SaleCondition_test
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,120.0,0.0,NaN,MnPrv,NaN,0.0,6.0,2010.0,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0.0,0.0,NaN,NaN,Gar2,12500.0,6.0,2010.0,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0.0,0.0,NaN,MnPrv,NaN,0.0,3.0,2010.0,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0.0,0.0,NaN,NaN,NaN,0.0,6.0,2010.0,WD,Normal
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,144.0,0.0,NaN,NaN,NaN,0.0,1.0,2010.0,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0.0,0.0,NaN,NaN,NaN,0.0,4.0,2006.0,WD,Abnorml
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0.0,0.0,NaN,NaN,NaN,0.0,9.0,2006.0,WD,Abnorml
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0.0,0.0,NaN,MnPrv,Shed,700.0,7.0,2006.0,WD,Normal
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0.0,0.0,NaN,NaN,NaN,0.0,11.0,2006.0,WD,Normal
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Both tables include references to a MeetID, a unique key for each meet (competition) included in the database. 
#Using this, generate a dataset combining the two tables into one.

powerlifting_combined = powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))